.modelreview-section {
  margin: 1em 0;
  border: 1px solid #C4C4C4;
  padding: 0.5em 1em !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.modelreview-section-head {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.6em;
}

.modelreview-block {
  margin: 1em 0;
}

.modelreview-block-head {
  font-size: 1.4em;
  line-height: 1.6em;
}

.modelreview-field {
 display: block; 
 margin: 0.5em 1em;
}

.modelreview-label {
  font-weight: bold;
  display: inline;
  font-size: 1.1em;
  line-height: 1.3em;
}

.modelreview-value {
  display: inline;
}

.modelreview-textvalue {
  margin: 0.5em 1em 0 1em;
}








.review-button {
  color: black !important;
  background: silver;
  border: 1px solid #C4C4C4;
  border-bottom-color: #707070;
  padding: 0 9px !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-text-shadow: white 0 1px 0;
  -webkit-text-shadow: white 0 1px 0;
  text-shadow: white 0 1px 0;
  margin: 5px 5px 15px 0;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

td.views-field-nid {
  width: 75px;
}

td.views-field-statusdate {
  width: 125px;
}

td.views-field-title {
  width: 600px;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: bold;
}
